Google*

# Xcode
DerivedData/
build/
*.xcworkspace
TodoList.xcodeproj/xcuserdata/
*.xcuserstate

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Swift Package Manager
.swiftpm/
.build/

# macOS
.DS_Store
*.swp

